body {
    font: normal 12px "Trebuchet MS", Arial, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0 none;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

a {
    color: #4b6b94;
    text-decoration: none;
}

a:hover {
    color: #999;
    text-decoration: underline;
}

#header {
    height: 46px;
}

.x-viewport body {
    background: #F5F9FE url('../images/back.png') repeat-x !important;
}

.x-tree-node-el {
    padding: 2px;
}

.x-tree-node-icon {
    height: 16px !important;
}

.x-form-display-field {
    color: #777;
}
